.header {
  padding: 30px;
}

.supplier-ID-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 15px;
}

.supplier-interest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.supplier-time-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding-bottom: 15px;
}

.supplier-time-h3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 315px;
}

.supplier-submit {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.submit-buttons {
  display: flex;
  justify-content: space-evenly;
}